/SymbolTable/main.exe
/SymbolTable/test.exe
/SymbolTable/test
/SymbolTable/main
/.vscode/
/flex/lex.yy.c
/flex/test.out
/flex/1805086_token.txt
/flex/1805086_log.txt
/flex/test.txt
/flex/hudai.c